vscode/
.vscode/
/obj
*.log
*.o
/taskmasterd
/taskmasterctl
.*.swp
.nfs*
yaml-0.2.5/
*.so
yaml.h
taskmasterctl/taskmasterctl
readline.a
libyaml.a
libcurl.a
logs/
libs/
curl-8.2.1/
libscrypt-1.22/
libscrypt.so
